*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    margin:0;
    background-color: #eeeeee;
    color:#000;
}

header{
    color:black;
    padding:1rem;
    text-align: center;
}

.tool-menu{
    display:flex;
    gap:0.5rem;
    padding:1rem;
    margin:0.5rem;
    overflow-x:auto;
    background:#111;
    box-sizing: border-box;
    border-radius: 8px;
}

.tool-menu button:hover{
    background: #2980b9;
}

#tool-container{
    padding:1rem;
    min-height: 300px;
    background:#111111;
    color:white;
    margin:0.5rem;
    border-radius:8px;
}
input{
    width:100%;
    padding:0.6rem;
    margin:0.5rem 0;
}
button{
    width:15em;
    background: #ffffff;
    color:black;
    height:4em;
    border:none;
    box-sizing: border-box;
    border-radius: 7px;
}

button.action {
    width: 100%;
    padding: 0.7rem;
    background: #27ae60;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    position:fixed;
    bottom:0;
    width:100%;
}
.ad-banner{
    background:#ddd;
    text-align:center;
    padding:0.8rem;
    font-size:0.9rem;
}
